@model IEnumerable<Food_Store.ViewModels.ItemBuyModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form asp-controller="Shop" asp-action="Index">
    <p>
        Type: <input type="text" name="TypeString">
        <input type="submit" value="Filter" />
    </p>
</form>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Path)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Type
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ string sr = $"/{item.Path}"; }
                        <img src="@sr" height="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfItem)

                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@item.Id" >Details</a>
                        <form asp-action="Buy">
                            <input type="hidden" name="id" asp-for="@item.Id" />
                            <input asp-for="@item.Amount" size="2" name="amount" />
                            <input type="submit" value="Buy" class="btn btn-default" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
